<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.remedy" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity android:name="org.remedy.RemedyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.remedy.RemedyListActivity"
            android:label="@string/title_activity_remedy_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.remedy.RemedyDetails"
            android:label="@string/title_activity_remedy_details" >
        </activity>
    </application>

</manifest>